<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>navaja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
<img src="assets/img/navaja.png"/>
  </ion-item>
  <p style="color:rgb(21, 74, 121); font-size:15px">La navaja suiza es una herramienta manual de diversas funciones. Una navaja suiza incluye un cuchillo y varias herramientas más, como destornilladores, tijera, lima y abrebotellas. Estos accesorios se guardan dentro del mango de la navaja mediante un mecanismo que gira alrededor de un pivote.</p>

</ion-content>
