<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Universidad</ion-title>
  </ion-toolbar>
</ion-header>



  <ion-content [fullscreen]="true">
    <ion-list> 
    <ion-item>
      <ion-label position="floating">Country:</ion-label> 
      <ion-input #value  type="text"   placeholder="Enter text"></ion-input>
    </ion-item>
  </ion-list>
    <ion-button color="success" (click)="getUni(value.value)" expand="block">Block</ion-button>
    <ion-list >
     <ion-item *ngFor="let item of uni">Universidad: {{item.name}}- Web: {{item.web_pages}}- PAis: {{item.country}}- Dominio: {{item.domains}}</ion-item>


    </ion-list>


  </ion-content>
  
