<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>contratarme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>

      <img src="assets/img/Me.jpg"/>
    </ion-item>
    <p style="color:rgb(217, 36, 45); font-size:15px">«Gracias por tu preferencia.» </p>
    <p style="color:rgb(37, 145, 239); font-size:15px">¡Saludos! Mi nombre es Estefani Arias Agueda, Desarrolladora web con experiencia en desarrollo de app movil y en diseño de interfaz de usuario. </p>
    <p style="color:rgb(217, 36, 45); font-size:15px">Mis redes:</p>
    <p class="textContratameLinks">
      <a href="https://github.com/EstefaniAA12" target="_blank">Github</a>&nbsp;
      <a href="https://www.linkedin.com/in/estefani-arias-agueda-b24960254/" target="_blank">Linkedin</a>&nbsp;
      <a href="https://www.instagram.com/estefa3765/" target="_blank">Instagram</a>
    </p>
</ion-content>
